<div class="navbar d-flex justify-content-between align-items-center px-3">
  <i class="fa-solid fa-film"></i>
  <div>
    <%= link_to "Back to lists", lists_path, class: "btn btn-primary" %>
    <%= link_to "Create a list", new_list_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <h2><%= @list.name %></h2>

<%# <%= cl_image_tag @link.photo.key, height: 300, width: 400, crop: :fill %>

  <ul class="list-unstyled">
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <%= image_tag(bookmark.movie.poster_url, width: 200, height: 300) %>
        <p><%= bookmark.movie.title %></p>
        <p>Overview-<%= bookmark.movie.overview %></p>
        <p>Rating- <%= bookmark.movie.rating %></p>
        <p>Comment- <%= bookmark.comment %></p>
      </li>
      <%= link_to "Delete",
          list_bookmark_path(@list, bookmark),
          data: { turbo_method: :delete, turbo_confirm: "Delete this bookmark?" } %>
    <% end %>
  </ul>

  <%= link_to "Back to lists", lists_path %>

</div>
